body {
    background-color: #1b1b1b;

  }
    
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color: rgb(83, 119, 238);
  text-align: center;
  font-size: 60px;;
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  color: white;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;

}
.button1{
  background-color: #4CAF50;
  color: white;
  font-size: 24px;
  padding: 12px 28px;
  border-radius: 8px;
  transition-duration: 0.4s;
  width: 250px;
  text-align: center;
  margin: auto;

}

/*.button1:hover{
  background-color: white;
  border-color: #4CAF50;
  color: black;
}*/